<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    {% include 'base.html' %}
</head>
<body>
    {% if isadmin is sameas true  %}
        {% include 'searchbar_admin.html' ignore missing with context%}
    {% elif logged_in is sameas true %}
        {% include 'searchbar.html' ignore missing with context%}
    {% else %}
        {% include 'searchbar_logged_out.html' %}
    {% endif %}
    <h3>Admin panel</h3>fill one form at a time<br><br>
    <form action="/admin/action/1" method="POST" id="time_ban">
        Ban user (days):<br>
        <input type="text" placeholder="ban duration" name="duration"><br>
        <input type="text" placeholder="user id" name="user_id"><br>
        <input type="submit" name="Post"><br>
    </form><br>
    <form action="/admin/action/2" method="POST" id="perm_ban">
        Ban user (permanently):<br>
        <input type="text" placeholder="user id" name="user_id"><br>
        <input type="submit" name="Post"><br>
    </form><br>
    <form action="/admin/action/3" method="POST" id="unban">
        Unban user :<br>
        <input type="text" placeholder="user id" name="user_id"><br>
        <input type="submit" name="Post"><br>
    </form><br>
</body>
</html>