<!DOCTYPE html>
<html lang="en">
<head>
    <script>
    function DisplayHelp(){
            alert("Search @user to search for user, search #tag to search for user posts reffering to tag, search $tag to search for admin posts reffering to tag, search with plaintext to search by title and description");
        }
    </script>
    {% include 'base.html' %}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="navbar"><a href="/">Main Page</a> | <a href="/user/add_video">Add video</a> | <a href="/general/logout/">Log Out</a> | <a href="/general/user/{{cuser_id}}">My Profile</a> | <a href="/general/remove_account">Delete Account</a>
        <form action="/general/query" method="GET" enctype="multipart/form-data"  name="query_form" onsubmit="AddParams"><input type="text" placeholder="Enter your query" onclick="DisplayHelp()" name="query"><input type="submit" value="Search" name="submit" onclick="AddParams()"></form></div>
</body>
</html>