<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Posts</title>
    {% include 'base.html' %}
</head>
<body>
    {% if isadmin is sameas true  %}
        {% include 'searchbar_admin.html' ignore missing with context%}
    {% elif logged_in is sameas true %}
        {% include 'searchbar.html' ignore missing with context%}
    {% else %}
        {% include 'searchbar_logged_out.html' %}
    {% endif %}
    <div class="video_post">
        <a href="genetal/vpost/{{ vid }}">{{ title }}</a>
    </div>
</body>
</html>